body {
    width: 100%;
    height: 580px;
}
header {
    background-color: slategray;
    height: 15%;
}
footer {
    background-color: lightgrey;
    height: 5%;
    float: right;
    width: 100%;
}
#upperstrip {
    width: 100%;
    background-color: aqua;
    height: 35%;
    float: left;
}
#column1 {
    height: 35%;
    width: 33.4%;
    float: left;
    background-color: whitesmoke;
}
#column2 {
    height: 35%;
    width: 33.3%;
    float: left;
    background-color: gray;
}
#column3 {
    height: 35%;
    width: 33.3%;
    float: right;
    background-color: darkgray;
}