h1 {
    border-bottom-width: 10px;
    border: #009970;
    border-style: none none dashed none;
}
header {
    background-image: linear-gradient(red, pink);
}
body {
    background-image: linear-gradient(red, lightblue);
}